/*---------------- Base -------------*/
@import url(https://fonts.bunny.net/css?family=cabin:400);

:root {
  --background: #222;
  --background-mid: #1d1d1d;
  --background-highlight: #111;
  --color: #ddd;
  --red1: #3c0000;
  --red2: #ce4040;
  --red3: #930000;
  --red4: #fbc2b7;
  --font: "Gill Sans", "Gill Sans MT", "Cabin", sans-serif;
}

body {
  margin: 0;
  font-family: var(--font);
  color: var(--color);
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 100vh;
}

main{
  flex:1;
}

header {
  margin: 0;
  display: flex;
  padding: 0.1rem;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.slideHeader {
  background-color: inherit;
}

.header-logo {
  height: 3rem;
  width: 3rem;
  display: block;
}

header h1 {
  margin: 0 1rem;
  padding: 0;
}

header a {
  color: var(--color);
}

img {
  max-width: 100%;
}

#modeToggle {
  width: fit-content;
  padding: 0.1rem;
  display: none;
  width: fit-content;
  height: fit-content;
  align-items: center;
  user-select: none;
}

#modeToggle svg {
  border-radius: 0.3rem;
  padding: 0.3rem;
  cursor: pointer;
}

#modeToggle span {
  cursor: default;
}

#movePrevious,
#moveNext,
#slideState {
  display: none;
}

.article-meta {
  text-align: center;
}

.article-meta h2 {
  font-size: 1.2rem;
}

article {
  max-width: 100ch;
  margin: auto;
  margin-bottom: 1rem;
  padding-inline: 1rem;
}

.articleSlides {
  height: calc(100vh - 7rem);
  width: 95%;
  max-width: 100%;
  overflow-y: auto;
}

.articleSlides .chroma {
  font-size: 2rem;
}

.articleSlides h1,
.articleSlides h2,
.articleSlides h3,
.articleSlides h4,
.articleSlides h5,
.articleSlides h6 {
  font-size: 3.3;
  font-weight: 600;
}

footer {
  background-color: var(--background-highlight);
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*-------------- Elements --------------*/

a {
  text-decoration: none;
  color: var(--red4);
}

a:hover {
  color: var(--red2);
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color);
}

hr {
  display: none;
}

.chroma {
  overflow: auto;
}

/*-------------------nav------------------*/
nav.main {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--background-highlight);
}

nav a {
  color: var(--color);
}

#logo {
  height: 2rem;
  width: 1.5rem;
  margin: 0.7rem;
  margin-left: 2rem;
  display: block;
}

#main-nav {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 4.2rem;
}

#main-nav a {
  margin: 0 1rem;
  font-size: 1.2rem;
}

#nav-toggle {
  display: none;
}

#burger {
  display: none;
  height: 2rem;
  width: 2rem;
  margin: 0.7rem;
  margin-right: 2rem;
  cursor: pointer;
}

nav.main a {
  color: var(--color);
}

@media screen and (max-width: 730px) {
  nav.main {
    justify-content: space-between;
    align-items: start;
  }
  #burger {
    display: block;
  }
  #nav-toggle:checked ~ #main-nav {
    display: flex;
  }
  #main-nav {
    display: none;
    flex-direction: column;
    margin-right: 0;
  }
  #main-nav a {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.3rem;
  }
}
