<nav class="masthead main">
  <!-- left aligned: wrap in div to add more content here -->
  <div>
    <a href="https://luhack.uk/" id="logo">
      {{partial "svg/logo.html"}}
    </a>
  </div>

  <input type="checkbox" id="nav-toggle"/>

  <!-- Center aligned -->
  <div id="main-nav">
    <a href="https://luhack.uk/discord">Discord</a>
    <a href="https://luhack.uk/mail">Mailing list</a>
    <a href="https://luhack.uk/talks">Give a talk</a>
    <a href="https://luhack.uk/contact">Contact us</a>
    <!-- <a href="https://luhack.uk/sponsors">Sponsor us</a> -->
    <a href="https://scc-luhack.lancs.ac.uk/challenges/">Challenges</a>
    <a href="https://scc-luhack.lancs.ac.uk/writeups">Blog</a>
    <a href="https://slides.luhack.uk">Slides</a>
  </div>

  <!-- right aligned -->
  <div>
    <label for="nav-toggle" id="burger">
      <svg
          viewBox="0 0 64 64"
          xmlns="http://www.w3.org/2000/svg"
          xml:space="preserve"
          fill-rule="evenodd"
          clip-rule="evenodd"
          stroke-linejoin="round"
          stroke-miterlimit="2"
      >
      <path fill="#ddd" d="M8 44h48v6H8zm0-15h48v6H8zm0-15h48v6H8z"/>
    </svg>
    </label>
  </div>
</nav>
